@page "/modular-calendar"


@* <ModularCalendar /> *@

<div class="grid-20">
    <div class="section-5 grid-10">
        <MonthCalendar isFirstCalendar=@true />
        <MonthCalendar  isFirstCalendar=@false />
    </div>
    
    <CalendarForecast />
</div>