@page "/modular-calendar"


<CalendarMain displayType=@(0) venueName="RDV" />



@* The compact version with container to adjust size, will break formatting if it gets small enough *@
<div class="py-5"></div>
<div class="testy">
    <CalendarMain displayType=@(1) venueName="RDV" />
</div>