@page "/"
@* This is the route to this file *@

@* dotnet watch --project F:\Documents\Coding\NET\Blazor\LProject\projectOne\projectOne.csproj run   ---- to start hot reload *@


<PageTitle>Home</PageTitle>

<div>

    
</div>

<h1>Hello, world!</h1>

Welcome to your new app.

This is a test