/* _content/projectOne/Components/Calendar/CalendarForecast.razor.rz.scp.css */
.calendar-arrow-icon[b-lhx9ghj0x4] {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/down.svg");
}
.calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
  position: absolute;
  top: 15px;
  left: 20px;
}

/* ----------------- FORECAST SECTION ----------------- */

.forecast-full-display[b-lhx9ghj0x4] {
  padding: 0.5rem;
  border: 2px solid #757575;
  background-color: var(--dark-second-color);
  border-radius: 10px;
}


.forecast-full-display[b-lhx9ghj0x4]  .forecast {
  text-align: center;
  padding: 20px 25px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--dark-first-color);
  /* Font Styles */
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;   
}

.forecast-days[b-lhx9ghj0x4] {
  /* Format Styles */
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

.forecast-days .section-1[b-lhx9ghj0x4] {
  /* Center days both horizontally and vertically */
  text-align: center;
  display: inline-block;
  margin: auto;
}

.day-name[b-lhx9ghj0x4] {
  font-size: 12px;
  font-weight: bold;
}
/* First day styles */
.day-name.today[b-lhx9ghj0x4] {
  font-size: 14px;
  font-weight: bold;
}
.day-number[b-lhx9ghj0x4] {
  font-size: 12px;
  font-weight: bold;
}
.event-number[b-lhx9ghj0x4] {
  font-size: 18px;
  font-weight: 400;
  color: rgb(69, 160, 160) !important;
}

.forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
  /* Format Styles */
  margin-top: 1rem;
  background: var(--dark-first-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Scroll Styles */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 597px;
  scroll-behavior: smooth;  
}

.forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
  padding: 0.8rem 0.8rem 0.8rem 2.6rem;
  position: relative;
}
.event-date[b-lhx9ghj0x4] {
  padding-left: 1.3rem;
  font-weight: bold;
}
.event-name[b-lhx9ghj0x4] {
  padding-left: 3.6rem;
}
.event-name[b-lhx9ghj0x4]:before {
  content: "";
  position: absolute;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: -1rem;
}

.event-name.open[b-lhx9ghj0x4] {
  opacity: 1;
  padding-top: 7px;
  max-height: 520px;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}
.event-name.closed[b-lhx9ghj0x4] {
  opacity: 0;
  visibility:hidden;
  padding-top: 0px;
  max-height: 0px;
  transform: translateY(20%);
  transition: 0.5s ease-in-out;
}


/* ----------------- FORECAST COMPACT SECTION ----------------- */

.forecast-compact-display[b-lhx9ghj0x4] {
  border: 2px solid #757575;
  background: var(--dark-first-color);
  height: auto;
  border-radius: 10px;
}

.forecast-compact-display[b-lhx9ghj0x4]  .forecast {
  text-align: center;
  padding: 20px 5px;
  width: 100%;
  /* Font Styles */
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;   
}

.forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
  /* Format Styles */
  max-height: auto;
  /* Scroll Styles */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 310px;
}

.forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
  padding: 0.8rem 0.5rem 0.5rem 2.2rem;
  position: relative;
}


/* styles for smaller Phones */
@media screen and (min-width: 320px) and (max-width: 765px) {

  .forecast-full-display[b-lhx9ghj0x4] {
    margin-left: 1rem;
    grid-column-end: span 20 !important;
  }
  
  .calendar-arrow-icon[b-lhx9ghj0x4] {
    width: 24px;
    height: 24px;
  }
  .calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
    top: 15px;
    left: 20px;
  }

  /* ----------------- FORECAST SECTION ----------------- */

  .forecast-full-display[b-lhx9ghj0x4] {
    padding: 0.5rem;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 25px;
    /* Font Styles */
    font-size: 22px; 
  }

  .forecast-days[b-lhx9ghj0x4] {
    /* Format Styles */
    margin-top: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-x: scroll;
  }

  .day-name[b-lhx9ghj0x4] {
    font-size: 18px;
  }
  /* First day styles */
  .day-name.today[b-lhx9ghj0x4] {
    font-size: 14px;
  }
  .day-number[b-lhx9ghj0x4] {
    font-size: 12px;
  }
  .event-number[b-lhx9ghj0x4] {
    font-size: 16px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    margin-top: 1rem;
    height: 480px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 1rem 1rem 1rem 2.6rem;
  }
  .event-date[b-lhx9ghj0x4] {
    padding-left: 2rem;
    font-size: 18px;
  }
  .event-name[b-lhx9ghj0x4] {
    padding-left: 4rem;
    font-size: 12px;
  }

  .event-name.open[b-lhx9ghj0x4] {
    padding-top: 7px;
    max-height: 3020px;
  }

  /* ----------------- FORECAST COMPACT SECTION ----------------- */

  .forecast-compact-display[b-lhx9ghj0x4] {
    margin-left: 1rem;
    grid-column-end: span 20 !important;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 5px;
    width: 100%;
    /* Font Styles */
    font-size: 22px;
    letter-spacing: 3px;   
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    max-height: auto;
    /* Scroll Styles */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 350px;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 0.8rem 0.5rem 0.5rem 2.2rem;
    position: relative;
  }
  
}
/* styles for smaller iPads/Kindle */
@media screen and (min-width: 766px) and (max-width: 838px) { 
  .forecast-full-display[b-lhx9ghj0x4] {
    grid-column-end: span 10 !important;
  }
  
  .calendar-arrow-icon[b-lhx9ghj0x4] {
    width: 24px;
    height: 24px;
  }
  .calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
    top: 17px;
    left: 20px;
  }

  /* ----------------- FORECAST SECTION ----------------- */

  .forecast-full-display[b-lhx9ghj0x4] {
    padding: 0.5rem;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 25px;
    /* Font Styles */
    font-size: 22px; 
  }

  .forecast-days[b-lhx9ghj0x4] {
    /* Format Styles */
    margin-top: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-x: scroll;
  }

  .day-name[b-lhx9ghj0x4] {
    font-size: 18px;
  }
  /* First day styles */
  .day-name.today[b-lhx9ghj0x4] {
    font-size: 14px;
  }
  .day-number[b-lhx9ghj0x4] {
    font-size: 12px;
  }
  .event-number[b-lhx9ghj0x4] {
    font-size: 16px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    margin-top: 1rem;
    height: 593px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 1rem 1rem 1rem 2.6rem;
  }
  .event-date[b-lhx9ghj0x4] {
    padding-left: 2rem;
    font-size: 18px;
  }
  .event-name[b-lhx9ghj0x4] {
    padding-left: 4rem;
    font-size: 12px;
  }

  .event-name.open[b-lhx9ghj0x4] {
    padding-top: 7px;
    max-height: 3020px;
  }

  /* ----------------- FORECAST COMPACT SECTION ----------------- */

  .forecast-compact-display[b-lhx9ghj0x4] {
    grid-column-end: span 5 !important;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 5px;
    width: 100%;
    /* Font Styles */
    font-size: 22px;
    letter-spacing: 3px;   
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    max-height: auto;
    /* Scroll Styles */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 310px;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 0.8rem 0.5rem 0.5rem 2.2rem;
    position: relative;
  }
}
/* styles for newer iPads */
@media screen and (min-width: 1010px) and (max-width: 1030px) {
   .forecast-full-display[b-lhx9ghj0x4] {
    grid-column-end: span 10 !important;
  }
  
  .calendar-arrow-icon[b-lhx9ghj0x4] {
    width: 24px;
    height: 24px;
  }
  .calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
    top: 17px;
    left: 20px;
  }

  /* ----------------- FORECAST SECTION ----------------- */

  .forecast-full-display[b-lhx9ghj0x4] {
    padding: 0.5rem;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 25px;
    /* Font Styles */
    font-size: 22px; 
  }

  .forecast-days[b-lhx9ghj0x4] {
    /* Format Styles */
    margin-top: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-x: scroll;
  }

  .day-name[b-lhx9ghj0x4] {
    font-size: 18px;
  }
  /* First day styles */
  .day-name.today[b-lhx9ghj0x4] {
    font-size: 14px;
  }
  .day-number[b-lhx9ghj0x4] {
    font-size: 12px;
  }
  .event-number[b-lhx9ghj0x4] {
    font-size: 16px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    margin-top: 1rem;
    height: 593px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 1rem 1rem 1rem 2.6rem;
  }
  .event-date[b-lhx9ghj0x4] {
    padding-left: 2rem;
    font-size: 18px;
  }
  .event-name[b-lhx9ghj0x4] {
    padding-left: 4rem;
    font-size: 12px;
  }

  .event-name.open[b-lhx9ghj0x4] {
    padding-top: 7px;
    max-height: 3020px;
  }

  /* ----------------- FORECAST COMPACT SECTION ----------------- */

  .forecast-compact-display[b-lhx9ghj0x4] {
    grid-column-end: span 5 !important;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 5px;
    width: 100%;
    /* Font Styles */
    font-size: 22px;
    letter-spacing: 3px;   
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    max-height: auto;
    /* Scroll Styles */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 310px;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 0.8rem 0.5rem 0.5rem 2.2rem;
    position: relative;
  }
}
/* Laptop with MDPI Screen - 720p Screens - 1280x720, plus landscape iPad */
@media screen and (min-width: 1040px) and (max-width: 1366px) {
  .forecast-full-display[b-lhx9ghj0x4] {
    grid-column-end: span 13 !important;
  }
  
  .calendar-arrow-icon[b-lhx9ghj0x4] {
    width: 24px;
    height: 24px;
  }
  .calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
    top: 15px;
    left: 20px;
  }

  /* ----------------- FORECAST SECTION ----------------- */

  .forecast-full-display[b-lhx9ghj0x4] {
    padding: 0.5rem;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 25px;
    /* Font Styles */
    font-size: 22px; 
  }

  .forecast-days[b-lhx9ghj0x4] {
    /* Format Styles */
    margin-top: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .day-name[b-lhx9ghj0x4] {
    font-size: 18px;
  }
  /* First day styles */
  .day-name.today[b-lhx9ghj0x4] {
    font-size: 14px;
  }
  .day-number[b-lhx9ghj0x4] {
    font-size: 12px;
  }
  .event-number[b-lhx9ghj0x4] {
    font-size: 16px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    margin-top: 1rem;
    height: 537px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 1rem 1rem 1rem 2.6rem;
  }
  .event-date[b-lhx9ghj0x4] {
    padding-left: 2rem;
    font-size: 18px;
  }
  .event-name[b-lhx9ghj0x4] {
    padding-left: 4rem;
    font-size: 12px;
  }

  .event-name.open[b-lhx9ghj0x4] {
    padding-top: 7px;
    max-height: 3020px;
  }

  /* ----------------- FORECAST COMPACT SECTION ----------------- */

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 5px;
    width: 100%;
    /* Font Styles */
    font-size: 22px;
    letter-spacing: 3px;   
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    max-height: auto;
    /* Scroll Styles */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 275px;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 0.8rem 0.5rem 0.5rem 2.2rem;
    position: relative;
  }
}
/* Laptop with HiDPI Screen */
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    
}
/* 2K Resolutions - 2560x1440 */
@media screen and (min-width: 1921px) and (max-width: 3839px) {
  .calendar-arrow-icon[b-lhx9ghj0x4] {
    width: 30px;
    height: 30px;
  }
  .calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
    top: 18px;
    left: 20px;
  }

  /* ----------------- FORECAST SECTION ----------------- */

  .forecast-full-display[b-lhx9ghj0x4] {
    padding: 0.5rem;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 25px;
    /* Font Styles */
    font-size: 32px; 
  }

  .forecast-days[b-lhx9ghj0x4] {
    /* Format Styles */
    margin-top: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .day-name[b-lhx9ghj0x4] {
    font-size: 18px;
  }
  /* First day styles */
  .day-name.today[b-lhx9ghj0x4] {
    font-size: 16px;
  }
  .day-number[b-lhx9ghj0x4] {
    font-size: 14px;
  }
  .event-number[b-lhx9ghj0x4] {
    font-size: 18px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    margin-top: 1rem;
    height: 925px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 1rem 1rem 1rem 2.6rem;
  }
  .event-date[b-lhx9ghj0x4] {
    padding-left: 2rem;
    font-size: 24px;
  }
  .event-name[b-lhx9ghj0x4] {
    padding-left: 4rem;
    font-size: 18px;
  }

  .event-name.open[b-lhx9ghj0x4] {
    padding-top: 7px;
    max-height: 3020px;
  }

  /* ----------------- FORECAST COMPACT SECTION ----------------- */

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 5px;
    width: 100%;
    /* Font Styles */
    font-size: 44px;
    letter-spacing: 3px;   
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    max-height: auto;
    /* Scroll Styles */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 450px;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 0.8rem 0.5rem 0.5rem 2.2rem;
    position: relative;
  }
  
}
/* 4K Resolutions - 3840x2160 */
@media screen and (min-width: 3840px) {

  .calendar-arrow-icon[b-lhx9ghj0x4] {
    width: 40px;
    height: 40px;
  }
  .calendar-arrow-icon.arrow-down[b-lhx9ghj0x4] {
    top: 22px;
    left: 20px;
  }

  /* ----------------- FORECAST SECTION ----------------- */

  .forecast-full-display[b-lhx9ghj0x4] {
    padding: 0.5rem;
    border: 2px solid #757575;
    background-color: var(--dark-second-color);
    border-radius: 10px;
  }


  .forecast-full-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 25px;
    /* Font Styles */
    font-size: 42px; 
  }

  .forecast-days[b-lhx9ghj0x4] {
    /* Format Styles */
    margin-top: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .day-name[b-lhx9ghj0x4] {
    font-size: 22px;
  }
  /* First day styles */
  .day-name.today[b-lhx9ghj0x4] {
    font-size: 24px;
  }
  .day-number[b-lhx9ghj0x4] {
    font-size: 22px;
  }
  .event-number[b-lhx9ghj0x4] {
    font-size: 28px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    margin-top: 1rem;
    height: 1344px;
  }

  .forecast-full-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 1rem 1rem 1rem 2.6rem;
  }
  .event-date[b-lhx9ghj0x4] {
    padding-left: 3rem;
    font-size: 32px;
  }
  .event-name[b-lhx9ghj0x4] {
    padding-left: 6rem;
    font-size: 22px;
  }

  .event-name.open[b-lhx9ghj0x4] {
    padding-top: 7px;
    max-height: 3020px;
  }

  /* ----------------- FORECAST COMPACT SECTION ----------------- */

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast {
    padding: 20px 5px;
    width: 100%;
    /* Font Styles */
    font-size: 44px;
    letter-spacing: 3px;   
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .forecast-breakdown-container {
    /* Format Styles */
    max-height: auto;
    /* Scroll Styles */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 770px;
  }

  .forecast-compact-display[b-lhx9ghj0x4]  .event-breakdown {
    padding: 0.8rem 0.5rem 0.5rem 2.2rem;
    position: relative;
  }

}
/* _content/projectOne/Components/Calendar/MonthCalendar.razor.rz.scp.css */
.month[b-0rvo3cyfm9] {
  padding: 20px 25px;
  width: 100%;
  background: var(--dark-first-color);
  text-align: center;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Month list */
.month div[b-0rvo3cyfm9] {
  margin: 0px;
  padding: 0px; 
  position: relative;
}

.month div span[b-0rvo3cyfm9] {
  color: var(--font-color-dark);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calendar-arrow-icon[b-0rvo3cyfm9] {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/down.svg");
}

.calendar-arrow-icon.arrow-left[b-0rvo3cyfm9] {
  position: absolute;
  top: 5px;
  left: 0px;
}
.calendar-arrow-icon.arrow-right[b-0rvo3cyfm9] {
  position: absolute;
  top: 5px;
  right: 0px;
}

/* Weekdays (Mon-Sun) */
.weekdays[b-0rvo3cyfm9] {
  /* Layout Styles */
  margin: 0px;
  padding: 10px 5px;
  background-color:var(--dark-second-color);
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 25px;
  column-gap: 5px;
  row-gap: 10px;
}

.weekdays li[b-0rvo3cyfm9] {
  /* Font Styles */
  color: var(--font-color-dark);
  text-align: center;
  font-weight: 500;
  list-style-type: none;  
  /* Grid Styles */
  grid-column-end:span 1;
}

/* Days (1-31) */
.days[b-0rvo3cyfm9] {
  /* Layout Styles */
  padding: 0.4rem 0.1rem;
  background: var(--dark-first-color);
  margin: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 10px;
  column-gap: 0.2rem;
  row-gap: 0.1rem;
}

.days li.day[b-0rvo3cyfm9] {
  /* Text Styles */
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  color: var(--font-color-dark);
  /* Grid Styles */
  grid-column-end: span 1;
  min-height: 42px;
  /* Position Styles */
  position: relative;
  z-index: auto;
  align-items: center;
  align-content: center;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
}
.day-container[b-0rvo3cyfm9] {
  align-items: center;
  align-content: center;
}
.date[b-0rvo3cyfm9] {
  position: relative;
  z-index: 1;
}

/* Highlight the "current" day */
.days li.day .active[b-0rvo3cyfm9] {
  /* Text Styles */
  color: white !important;  
}

.active[b-0rvo3cyfm9]::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 38px;
  width: 38px;
  z-index: -1;
  border-radius: 50%;
  background: var(--active-color-dark);
  transform: translate(-51%, -50%);
}

/* Show which days are outside the current month */
.days .outsideMonth[b-0rvo3cyfm9] {
  color: rgb(129, 129, 129);
}

.selected-date[b-0rvo3cyfm9] {
  background-color: var(--selected-date-color-dark) !important;
  border-radius: 8px;
}

.weekend[b-0rvo3cyfm9] {
  color: rgb(69, 160, 160) !important;
}


/* ----------------- CALENDAR COMPACT SECTION ----------------- */

.calendar-compact-display .calendar-month-layout[b-0rvo3cyfm9] {
  position: relative;
}

/* -- Event Styling -- */
.event-tooltip[b-0rvo3cyfm9] {
  visibility: hidden;
  padding: 0.1rem 0.25rem 0.25rem 0.25rem;
  background-color: black;
  border-radius: 10px;
  width: 120px;
  margin-left: -60px;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 50%;
  transition-property: visibility;
  transition-delay: 0s;
}

li.day:hover .event-tooltip[b-0rvo3cyfm9] {
  visibility: visible;
  transition-delay: 0s;
}

.event-tooltip[b-0rvo3cyfm9]::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  z-index: 10;
}

.event-tooltip .tooltip-text[b-0rvo3cyfm9] {
  /* Text Styles */
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
}

.event-marker[b-0rvo3cyfm9] {
  position: absolute;
  width: 100%;
  left: 51.5%;
  bottom: 0px;
  -webkit-transform: translateX(-51.5%);
  transform: translateX(-51.5%);
  z-index: 2;
}
.event-marker .dot[b-0rvo3cyfm9] {
  font-size: 8px;
  /* Base color for the event markers if you don't want the colors */
  /* color: rgb(69, 160, 160); */
}

.event-marker .event-overflow[b-0rvo3cyfm9] {
  font-size: 14px;
  color: rgb(69, 160, 160);
}

/* Different Event Types */

.venue-event[b-0rvo3cyfm9] {
  color: #ef6be6 !important;
}
.birthday-event[b-0rvo3cyfm9] {
  color: #15d58f !important;;
}
.company-event[b-0rvo3cyfm9] {
  color: #f44336 !important;;
}
.holiday-event[b-0rvo3cyfm9] {
  color: #008CBA !important;;
}
.important-event[b-0rvo3cyfm9] {
  color: #fbe161 !important;;  
}


@media screen and (min-width: 320px) and (max-width: 399px) {
  
  .calendar-arrow-icon[b-0rvo3cyfm9] {
    width: 18px;
    height: 18px;
  }

  .calendar-arrow-icon.arrow-left[b-0rvo3cyfm9] {
    top: 5px;
  }
  .calendar-arrow-icon.arrow-right[b-0rvo3cyfm9] {
    top: 5px;
  }
  
}
/* styles for smaller Phones */
@media screen and (min-width: 320px) and (max-width: 765px) {

  .calendar-arrow-icon[b-0rvo3cyfm9] {
    width: 20px;
    height: 20px;
  }

  .calendar-arrow-icon.arrow-left[b-0rvo3cyfm9] {
    top: 5px;
    left: -14px;
  }
  .calendar-arrow-icon.arrow-right[b-0rvo3cyfm9] {
    top: 5px;
    right: -14px;
  }

  .active[b-0rvo3cyfm9]::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 32px;
    width: 32px;
    z-index: -1;
    border-radius: 50%;
    background: var(--active-color-dark);
    transform: translate(-51%, -50%);
  }

  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-marker .dot[b-0rvo3cyfm9] {
    font-size: 7px;
  }
  .event-marker .event-overflow[b-0rvo3cyfm9] {
    font-size: 11px;
  }
  
  
}
/* styles for smaller iPads/Kindle */
@media screen and (min-width: 766px) and (max-width: 838px) { 

}
/* styles for newer iPads */
@media screen and (min-width: 1010px) and (max-width: 1030px) {
 
}
/* Laptop with MDPI Screen - 720p Screens - 1280x720, plus landscape iPad */
@media screen and (min-width: 1040px) and (max-width: 1366px) {
  .month div span[b-0rvo3cyfm9] {
    font-size: 20px;
  }

  .calendar-arrow-icon[b-0rvo3cyfm9] {
    width: 20px;
    height: 20px;
  }

  .calendar-arrow-icon.arrow-left[b-0rvo3cyfm9] {
    top: 5px;
  }
  .calendar-arrow-icon.arrow-right[b-0rvo3cyfm9] {
    top: 5px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays[b-0rvo3cyfm9] {
    /* Layout Styles */
    font-size: 16px;
  }

  /* Days (1-31) */
  .days[b-0rvo3cyfm9] {
    /* Layout Styles */
    padding: 0.4rem 0.2rem;
    /* Grid Styles */
    -moz-column-gap: 10px;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
  }

  .days li.day[b-0rvo3cyfm9] {
    /* Text Styles */
    font-size: 14px;
    /* Grid Styles */
    min-height: 36px;
  }

  .active[b-0rvo3cyfm9]::after {
    height: 30px;
    width: 30px;
  }

  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-tooltip .tooltip-text[b-0rvo3cyfm9] {
    font-size: 12px;
  }
  .event-marker .dot[b-0rvo3cyfm9] {
    font-size: 8px;
  }
  .event-marker .event-overflow[b-0rvo3cyfm9] {
    font-size: 14px;
  }
}
/* Laptop with HiDPI Screen */
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    
}
/* 2K Resolutions - 2560x1440 */
@media screen and (min-width: 1921px) and (max-width: 3839px) {

  .month div span[b-0rvo3cyfm9] {
    font-size: 32px;
  }

  .calendar-arrow-icon[b-0rvo3cyfm9] {
    width: 28px;
    height: 28px;
  }

  .calendar-arrow-icon.arrow-left[b-0rvo3cyfm9] {
    top: 10px;
  }
  .calendar-arrow-icon.arrow-right[b-0rvo3cyfm9] {
    top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays[b-0rvo3cyfm9] {
    /* Layout Styles */
    font-size: 24px;
  }

  /* Days (1-31) */
  .days[b-0rvo3cyfm9] {
    /* Layout Styles */
    padding: 0.4rem 0.2rem;
    /* Grid Styles */
    -moz-column-gap: 10px;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
  }

  .days li.day[b-0rvo3cyfm9] {
    /* Text Styles */
    font-size: 20px;
    /* Grid Styles */
    min-height: 65px;
  }

  .active[b-0rvo3cyfm9]::after {
    height: 55px;
    width: 55px;
  }

  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-tooltip .tooltip-text[b-0rvo3cyfm9] {
    font-size: 18px;
  }
  .event-marker .dot[b-0rvo3cyfm9] {
    font-size: 12px;
  }
  .event-marker .event-overflow[b-0rvo3cyfm9] {
    font-size: 20px;
  }
  
}
/* 4K Resolutions - 3840x2160 */
@media screen and (min-width: 3840px) {

  .month[b-0rvo3cyfm9] {
    padding: 20px 25px;
    width: 100%;
  }

  .month div span[b-0rvo3cyfm9] {
    font-size: 42px;
  }

  .calendar-arrow-icon[b-0rvo3cyfm9] {
    width: 40px;
    height: 40px;
  }

  .calendar-arrow-icon.arrow-left[b-0rvo3cyfm9] {
    top: 10px;
  }
  .calendar-arrow-icon.arrow-right[b-0rvo3cyfm9] {
    top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays[b-0rvo3cyfm9] {
    /* Layout Styles */
    font-size: 30px;
  }

  /* Days (1-31) */
  .days[b-0rvo3cyfm9] {
    /* Layout Styles */
    padding: 0.4rem 0.2rem;
    /* Grid Styles */
    -moz-column-gap: 10px;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
  }

  .days li.day[b-0rvo3cyfm9] {
    /* Text Styles */
    font-size: 34px;
    /* Grid Styles */
    min-height: 115px;
  }

  .active[b-0rvo3cyfm9]::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 82px;
    width: 82px;
    z-index: -1;
    border-radius: 50%;
    background: var(--active-color-dark);
    transform: translate(-51%, -50%);
  }


  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-tooltip .tooltip-text[b-0rvo3cyfm9] {
    font-size: 22px;
  }

  .event-marker .dot[b-0rvo3cyfm9] {
    font-size: 16px;
  }

  .event-marker .event-overflow[b-0rvo3cyfm9] {
    font-size: 24px;
  }
}
/* _content/projectOne/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-4fh4ctlexs] {
    position: relative;
    display: flex;
    flex-direction: column;
}



main[b-4fh4ctlexs] {
    padding: 16px;
}



@media (min-width: 641px) {
    .page[b-4fh4ctlexs] {
        flex-direction: row;
    }

    .sidebar[b-4fh4ctlexs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui[b-4fh4ctlexs] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-4fh4ctlexs] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* _content/projectOne/Components/Layout/NavMenu.razor.rz.scp.css */
.hidden[b-wyjfhg2fj8] {
    display: none;
    appearance: none;
    visibility: hidden;
}

/* General Navbar Styles */


.navbar-menu-toggle:checked ~ .nav-scrollable[b-wyjfhg2fj8] {
    display: block;
}

.side-navbar[b-wyjfhg2fj8] {
    background-color: #141414;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    z-index: 100;
}

/* Menu Icon */
.section-menu-icon[b-wyjfhg2fj8] {
    padding-top: 5px;
    /* margin: 0 auto; */
    display: inline-block;
    width: 50%;
    padding-left: 1.2rem;
}

.menu-icon-container[b-wyjfhg2fj8] {
    cursor: pointer;
    width: 38px;
    height: 38px;
}

.logo[b-wyjfhg2fj8] {
    /* Make this hard pixels instead */
    width: 170px;
    height: auto;
}

.top-row[b-wyjfhg2fj8] {
    min-height: 50px;
    background-color: rgba(0,0,0,0.4);
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

.nav-item[b-wyjfhg2fj8] {
    position: relative;
    font-size: 0.9rem;
    padding-top: 0.21rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-item[b-wyjfhg2fj8]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2.3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    padding-left: 0.1rem;
}

.nav-item[b-wyjfhg2fj8]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-wyjfhg2fj8]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Icons */
.home-icon[b-wyjfhg2fj8] {
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
}
.dugout-icon[b-wyjfhg2fj8] {
    background-image: url("../images/dugout.svg");
    background-repeat: no-repeat;
}
.tasks-icon[b-wyjfhg2fj8] {
    background-image: url("../images/tasks.svg");
    background-repeat: no-repeat;
}
.deliverables-icon[b-wyjfhg2fj8] {
    background-image: url("../images/deliverables.svg");
    background-repeat: no-repeat;
}
.event-icon[b-wyjfhg2fj8] {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
}
.venue-icon[b-wyjfhg2fj8] {
    background-image: url("../images/location.svg");
    background-repeat: no-repeat;
}
.reports-icon[b-wyjfhg2fj8] {
    background-image: url("../images/reports.svg");
    background-repeat: no-repeat;
}
.time-sheet-icon[b-wyjfhg2fj8] {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
}
.admin-icon[b-wyjfhg2fj8] {
    background-image: url("../images/admin.svg");
    background-repeat: no-repeat;
}
.sign-out-icon[b-wyjfhg2fj8] {
    background-image: url("../images/sign-out.svg");
    background-repeat: no-repeat;
}
.icon-size[b-wyjfhg2fj8] {
    transform: scale(1);
}



/* Search Bar CSS */
.search-icon:hover[b-wyjfhg2fj8] {
  cursor: pointer;
}
.search-bar input:focus[b-wyjfhg2fj8] {
  outline: none;
}

/* --------------------------- OPEN Side Navbar Styles ---------------------------*/

.side-navbar.open[b-wyjfhg2fj8] {
    width: 265px;
    transition: 0.5s ease-in-out;
}

.side-navbar.open[b-wyjfhg2fj8]  .logo-container {
    position: absolute;
    left: 78px;
    top: 0px;
    display: inline-block;
    padding-top: 5px;  
    width:50%;
}

.side-navbar.open[b-wyjfhg2fj8]  .nav-font {
    opacity: 1;
    font-size: 16px;
    color: #dfd7d7;
    padding-left: 0.4rem;
    white-space: nowrap;
}

.side-navbar.open[b-wyjfhg2fj8]  span.bi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    /* Stops the icons from shrinking during animations */
    min-height: 30px;
    min-width: 30px;
}

.side-navbar.open[b-wyjfhg2fj8]  .arrow-icon {
    opacity: 1;
}

/* Search Section */
.side-navbar.open[b-wyjfhg2fj8]  .search-bar input[type=text] {
    width: 100%;
    max-height: 37px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(183, 183, 183, 0.498);
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(183, 183, 183);
    text-indent: 35px;
}
.side-navbar.open[b-wyjfhg2fj8]  .search-icon {
    position: absolute;
    min-width: 50px;
    transform: scale(0.8);
    left: 15px;
    top: -3px;
}

/* --------------------------- CLOSED Side Navbar Styles --------------------------- */

.side-navbar.closed[b-wyjfhg2fj8] {
    width: 76px;
    transition: 0.5s ease-in-out;
}

.side-navbar.closed[b-wyjfhg2fj8]  .logo-container {
    display: none;
    visibility: hidden;
}

.side-navbar.closed[b-wyjfhg2fj8]  .nav-font {
    opacity: 0;
    display: none;
    transition: 2s ease-in-out;
    white-space: nowrap;
}

.side-navbar.closed[b-wyjfhg2fj8]  span.bi {
    display: flex;
    padding: 2px;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.side-navbar.closed[b-wyjfhg2fj8]  .arrow-icon {
    opacity: 0;
}

/* Search Section */

.side-navbar.closed[b-wyjfhg2fj8]  .search-bar {
    max-height: 50px;
}
.side-navbar.closed[b-wyjfhg2fj8]  input[type=text] {
    display: none;
}
.side-navbar.closed[b-wyjfhg2fj8]  .search-icon {
    position: absolute;
    min-width: 50px;
    transform: scale(0.8);
    left: 15px;
    top: -3px;
}


/* --------------------------- SUB MENU Styles --------------------------- */

.sub-menu.open[b-wyjfhg2fj8] {
    opacity: 1;
    padding-top: 10px;
    max-height: 520px;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}
.sub-menu.closed[b-wyjfhg2fj8] {
    opacity: 0;
    visibility:hidden;
    padding-top: 0px;
    max-height: 0px;
    transform: translateY(20%);
    transition: 0.5s ease-in-out;
}
.sub-menu span[b-wyjfhg2fj8] {
    margin-left: 15px;
}


.account-section[b-wyjfhg2fj8] {
    margin-top: auto;
    padding-top: 3rem;
    padding-bottom: 1.3rem;
}

/* Used on the user's name to limit the displayed length */
.text-overflow[b-wyjfhg2fj8] {
    max-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -1rem;
}


@media (min-width: 641px) {
    .navbar-menu-toggle[b-wyjfhg2fj8] {
        display: visible;
    }

    .nav-scrollable[b-wyjfhg2fj8] {
        /* Never collapse the sidebar for wide screens */
        display: grid;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* styles for old Phones */
@media screen and (min-width: 320px) and (max-width: 399px) { 
    .account-section[b-wyjfhg2fj8] {
        margin-top: auto !important;
        padding-top: 8rem !important;
        padding-bottom: 0rem !important;
    }

}
/* styles for smaller Phones */
@media screen and (min-width: 320px) and (max-width: 765px) {

    .logo[b-wyjfhg2fj8] {
        width: 42vw;
        height: auto;
    }

    .nav-item[b-wyjfhg2fj8] {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .nav-item[b-wyjfhg2fj8]  .nav-link {
        height: 3.2rem;
    }
    
    /* --------------------------- OPEN Side Navbar Styles ---------------------------*/

    .side-navbar.open[b-wyjfhg2fj8] {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        position: absolute;
        left: 200px;
        top: 0px;
        padding-top: 5px;  
        width: 50%;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .nav-font {
        font-size: 16px;
    }

    .side-navbar.open[b-wyjfhg2fj8]  span.bi {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin-left: 0px;
        width: 30px;
        height: 30px;
        /* Stops the icons from shrinking during animations */
        min-height: 30px;
        min-width: 30px;
    }

    /* Search Section */
    .side-navbar.open[b-wyjfhg2fj8]  .search-bar input[type=text] {
        text-indent: 28px;
    }
    .side-navbar.open[b-wyjfhg2fj8]  .search-icon {
        position: absolute;
        min-width: 50px;
        transform: scale(0.8);
        left: 10px;
        top: -3px;
    }

    /* --------------------------- CLOSED Side Navbar Styles --------------------------- */

    .side-navbar.closed[b-wyjfhg2fj8] {
        width: 100vw;
        max-width: 100vw;
        max-height: 50px;
    }

    .side-navbar.closed[b-wyjfhg2fj8]  .logo-container {
        display: block;
        visibility: visible;
        position: absolute;
        left: 200px;
        top: 0px;
        padding-top: 5px;  
        width: 50%;
    }

    /* --------------------------- SUB MENU Styles --------------------------- */

    .sub-menu.open[b-wyjfhg2fj8] {
        opacity: 1;
        padding-top: 10px;
        max-height: 520px;
        transform: translateY(0);
        transition: 0.5s ease-in-out;
    }
    .sub-menu.closed[b-wyjfhg2fj8] {
        opacity: 0;
        visibility:hidden;
        padding-top: 0px;
        max-height: 0px;
        transform: translateY(20%);
        transition: 0.5s ease-in-out;
    }
    .sub-menu span[b-wyjfhg2fj8] {
        margin-left: 15px;
    }

    .account-section[b-wyjfhg2fj8] {
        margin-top: calc(15vh - 50px);
        padding-left: 1.4rem;
        padding-right: 1rem;
        padding-top: 6rem;
        padding-bottom: 0rem;
    }
  
}
/* styles for smaller iPads/Kindle */
@media screen and (min-width: 766px) and (max-width: 838px) { 


    .sign-out-icon[b-wyjfhg2fj8] {
        background-image: url("../images/sign-out.svg");
        background-repeat: no-repeat;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        position: absolute;
        left: 73px;
        top: 0px;
        display: inline-block;
        padding-top: 5px;  
        width:50%;
    }

    .side-navbar.open[b-wyjfhg2fj8]  span.bi {
        padding: 2px;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        /* Stops the icons from shrinking during animations */
        min-height: 30px;
        min-width: 30px;
    }


    .logo[b-wyjfhg2fj8] {
        width: 21vw;
        height: auto;
    }
  
    .account-section[b-wyjfhg2fj8] {
        margin-top: auto;
        padding-top: 3rem;
        padding-bottom: 1.3rem;
        margin-left: 0.1rem;
    }

    .text-overflow[b-wyjfhg2fj8] {
        max-width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: -1rem;
    }
    
}
/* styles for newer iPads */
@media screen and (min-width: 1010px) and (max-width: 1030px) {
    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        position: absolute;
        left: 73px;
        top: 0px;
        display: inline-block;
        padding-top: 5px;  
        width:50%;
    }

    .logo[b-wyjfhg2fj8] {
        width: 12vw;
        height: auto;
    }
}
/* Laptop with MDPI Screen - 720p Screens - 1280x720, plus landscape iPad */
@media screen and (min-width: 1040px) and (max-width: 1366px) {
    .logo[b-wyjfhg2fj8] {
        width: 14vw;
        height: auto;
    }
}
/* Laptop with HiDPI Screen */
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .logo[b-wyjfhg2fj8] {
        width: 12vw;
        height: auto;
    }
}
/* 2K Resolutions - 2560x1440 */
@media screen and (min-width: 1921px) and (max-width: 3839px) {
    .logo[b-wyjfhg2fj8] {
        width: 7vw;
        height: auto;
    }

    .sub-menu.open[b-wyjfhg2fj8] {
        max-height: 720px;
    }

    .account-section[b-wyjfhg2fj8] {
        margin-top: auto;
        padding-bottom: 1.7rem;
    }    
  
}
/* 4K Resolutions - 3840x2160 */
@media screen and (min-width: 3840px) {

    /* Menu Icon */
    .section-menu-icon[b-wyjfhg2fj8] {
        padding-top: 20px;
        width: 50%;
        padding-left: 0.8rem;
    }
    .menu-icon-container[b-wyjfhg2fj8] {
        cursor: pointer;
        width: 62px;
        height: 62px;
    }
    .logo[b-wyjfhg2fj8] {
        width: 8vw;
        height: auto;
    }

    .top-row[b-wyjfhg2fj8] {
        min-height: 100px;
    }

    .nav-item[b-wyjfhg2fj8]  .nav-link {
        height: 4rem;
        padding-left: 0.7rem;
    }

    .icon-size[b-wyjfhg2fj8] {
        transform: scale(1.5);
    }
    .arrow-icon[b-wyjfhg2fj8] {
        top: 22px;
        right: 25px;
        width: 28px;
        height: 28px;
    }
    
    /* --------------------------- OPEN Side Navbar Styles ---------------------------*/

    .side-navbar.open[b-wyjfhg2fj8] {
        width: 420px;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        left: 100px;
        top: 10px;
        padding-top: 6px;  
    }

    .side-navbar.open[b-wyjfhg2fj8]  .nav-font {
        font-size: 26px;
        padding-left: 1.5rem;
    }

    .side-navbar.open[b-wyjfhg2fj8]  span.bi {
        padding: 2px;
        margin-left: 2px;
        width: 32px;
        height: 32px;
        /* Stops the icons from shrinking during animations */
        min-height: 32px;
        min-width: 32px;
    }

    /* Search Section */
    .side-navbar.open[b-wyjfhg2fj8]  .search-bar input[type=text] {
        max-height: 100px;
        padding-top: 12px;
        padding-bottom: 11px;
        font-size: 26px;
        text-indent: 55px;
    }
    .side-navbar.open[b-wyjfhg2fj8]  .search-icon {
        min-width: 60px;
        transform: scale(1);
        left: 16px;
        top: 7px;
    }

    /* --------------------------- CLOSED Side Navbar Styles --------------------------- */

    .side-navbar.closed[b-wyjfhg2fj8] {
        width: 90px;
        transition: 0.5s ease-in-out;
    }

    .side-navbar.closed[b-wyjfhg2fj8]  span.bi {
        display: flex;
        padding: 2px;
        margin: 2px;
        width: 32px;
        height: 32px;
    }

    /* Search Section */

    .side-navbar.closed[b-wyjfhg2fj8]  .search-bar {
        max-height: 70px;
    }
    .side-navbar.closed[b-wyjfhg2fj8]  .search-icon {
        min-width: 60px;
        transform: scale(1);
        left: 16px;
        top: 7px;
    }

    /* --------------------------- SUB MENU Styles --------------------------- */

    .sub-menu.open[b-wyjfhg2fj8] {
        padding-top: 15px;
        max-height: 1520px;
    }
    .sub-menu span[b-wyjfhg2fj8] {
        margin-left: 20px;
    }

    .account-section[b-wyjfhg2fj8] {
        margin-top: auto;
        padding-bottom: 5rem;
        /* padding-right: 1rem; */
    }

}
