/* _content/projectOne/Components/Calendar/ModularCalendar.razor.rz.scp.css */
.calendar-month-layout[b-vqpjjdyixa] {
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
}

.month[b-vqpjjdyixa] {
  padding: 20px 25px;
  width: 100%;
  background: #ffffff;
  text-align: center;  
}

/* Month list */
.month div[b-vqpjjdyixa] {
  margin: 0;
  padding: 0; 
  position: relative;
}

.month div span[b-vqpjjdyixa] {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calendar-arrow-icon[b-vqpjjdyixa] {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/down.svg");
}

.calendar-arrow-icon.arrow-left[b-vqpjjdyixa] {
  position: absolute;
  top: 5px;
  left: 0px;
}
.calendar-arrow-icon.arrow-right[b-vqpjjdyixa] {
  position: absolute;
  top: 5px;
  right: 0px;
}

/* Weekdays (Mon-Sun) */
.weekdays[b-vqpjjdyixa] {
  /* Layout Styles */
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 25px;
  column-gap: 5px;
  row-gap: 10px;
}

.weekdays li[b-vqpjjdyixa] {
  /* Font Styles */
  color: #000000;
  text-align: center;
  font-weight: 500;
  list-style-type: none;  
  /* Grid Styles */
  grid-column-end:span 1;
}

/* Days (1-31) */
.days[b-vqpjjdyixa] {
  /* Layout Styles */
  padding: 10px 0;
  background: #eee;
  margin: 0;
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 25px;
  column-gap: 5px;
  row-gap: 10px;
}

.days li.day[b-vqpjjdyixa] {
  /* Text Styles */
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  color: #000000;
  /* Grid Styles */
  grid-column-end: span 1;
  min-height: 40px;
  /* Position Styles */
  position: relative;
  z-index: 5;
  align-items: center;
  align-content: center;
}

/* Highlight the "current" day */
.days li.day .active[b-vqpjjdyixa] {
  /* Text Styles */
  color: white !important;  
}

.active[b-vqpjjdyixa]::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 49%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  background: var(--active-color);
  transform: translate(-50%, -50%);
}

/* Show which days are outside the current month */
.days .outsideMonth[b-vqpjjdyixa] {
  color: rgb(129, 129, 129);
}



/* Event Styling */
.event-container[b-vqpjjdyixa] {
  width: 80%;
  height: 20%;
  margin: auto;
  position: absolute;
  left: 10%;
  bottom: 1%;
}
ul li[b-vqpjjdyixa] {
  list-style-type: none;  
}


span.h[b-vqpjjdyixa] {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: black;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  white-space: nowrap;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0%;
  transition-property: visibility;
  transition-delay: 0s;
}

li:hover span.h[b-vqpjjdyixa] {
  visibility: visible;
  transition-delay: 0.3s;
}

li:hover span.h[b-vqpjjdyixa]::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}


.birthday[b-vqpjjdyixa] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: #000000 1px solid;
  height: 0.5rem;
  width: 0.5rem;
  z-index: 8;
  border-radius: 100%;
}

.venue-event[b-vqpjjdyixa] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: #000000 1px solid;
  height: 0.5rem;
  width: 0.5rem;
  z-index: 8;
  border-radius: 100%;  
}



.important-event[b-vqpjjdyixa] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: #000000 1px solid;
  height: 0.5rem;
  width: 0.5rem;
  z-index: 8;
  border-radius: 100%;
}
/* _content/projectOne/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-4fh4ctlexs] {
    position: relative;
    display: flex;
    flex-direction: column;
}



main[b-4fh4ctlexs] {
    padding: 16px;
}



@media (min-width: 641px) {
    .page[b-4fh4ctlexs] {
        flex-direction: row;
    }

    .sidebar[b-4fh4ctlexs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui[b-4fh4ctlexs] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-4fh4ctlexs] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* _content/projectOne/Components/Layout/NavMenu.razor.rz.scp.css */
.hidden[b-wyjfhg2fj8] {
    display: none;
    appearance: none;
    visibility: hidden;
}

/* General Navbar Styles */


.navbar-menu-toggle:checked ~ .nav-scrollable[b-wyjfhg2fj8] {
    display: block;
}

.side-navbar[b-wyjfhg2fj8] {
    background-color: #141414;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    z-index: 100;
}

/* Menu Icon */
.section-menu-icon[b-wyjfhg2fj8] {
    padding-top: 5px;
    /* margin: 0 auto; */
    display: inline-block;
    width: 50%;
    padding-left: 1.2rem;
}

.menu-icon-container[b-wyjfhg2fj8] {
    cursor: pointer;
    width: 38px;
    height: 38px;
}

.logo[b-wyjfhg2fj8] {
    /* Make this hard pixels instead */
    width: 170px;
    height: auto;
}

.top-row[b-wyjfhg2fj8] {
    min-height: 50px;
    background-color: rgba(0,0,0,0.4);
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

.nav-item[b-wyjfhg2fj8] {
    position: relative;
    font-size: 0.9rem;
    padding-top: 0.21rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-item[b-wyjfhg2fj8]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2.3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    padding-left: 0.1rem;
}

.nav-item[b-wyjfhg2fj8]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-wyjfhg2fj8]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Icons */
.home-icon[b-wyjfhg2fj8] {
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
}
.dugout-icon[b-wyjfhg2fj8] {
    background-image: url("../images/dugout.svg");
    background-repeat: no-repeat;
}
.tasks-icon[b-wyjfhg2fj8] {
    background-image: url("../images/tasks.svg");
    background-repeat: no-repeat;
}
.deliverables-icon[b-wyjfhg2fj8] {
    background-image: url("../images/deliverables.svg");
    background-repeat: no-repeat;
}
.event-icon[b-wyjfhg2fj8] {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
}
.venue-icon[b-wyjfhg2fj8] {
    background-image: url("../images/location.svg");
    background-repeat: no-repeat;
}
.reports-icon[b-wyjfhg2fj8] {
    background-image: url("../images/reports.svg");
    background-repeat: no-repeat;
}
.time-sheet-icon[b-wyjfhg2fj8] {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
}
.admin-icon[b-wyjfhg2fj8] {
    background-image: url("../images/admin.svg");
    background-repeat: no-repeat;
}
.sign-out-icon[b-wyjfhg2fj8] {
    background-image: url("../images/sign-out.svg");
    background-repeat: no-repeat;
}
.icon-size[b-wyjfhg2fj8] {
    transform: scale(1);
}



/* Search Bar CSS */
.search-icon:hover[b-wyjfhg2fj8] {
  cursor: pointer;
}
.search-bar input:focus[b-wyjfhg2fj8] {
  outline: none;
}

/* --------------------------- OPEN Side Navbar Styles ---------------------------*/

.side-navbar.open[b-wyjfhg2fj8] {
    width: 265px;
    transition: 0.5s ease-in-out;
}

.side-navbar.open[b-wyjfhg2fj8]  .logo-container {
    position: absolute;
    left: 78px;
    top: 0px;
    display: inline-block;
    padding-top: 5px;  
    width:50%;
}

.side-navbar.open[b-wyjfhg2fj8]  .nav-font {
    opacity: 1;
    font-size: 16px;
    color: #dfd7d7;
    padding-left: 0.4rem;
    white-space: nowrap;
}

.side-navbar.open[b-wyjfhg2fj8]  span.bi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    /* Stops the icons from shrinking during animations */
    min-height: 30px;
    min-width: 30px;
}

.side-navbar.open[b-wyjfhg2fj8]  .arrow-icon {
    opacity: 1;
}

/* Search Section */
.side-navbar.open[b-wyjfhg2fj8]  .search-bar input[type=text] {
    width: 100%;
    max-height: 37px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(183, 183, 183, 0.498);
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(183, 183, 183);
    text-indent: 35px;
}
.side-navbar.open[b-wyjfhg2fj8]  .search-icon {
    position: absolute;
    min-width: 50px;
    transform: scale(0.8);
    left: 15px;
    top: -3px;
}

/* --------------------------- CLOSED Side Navbar Styles --------------------------- */

.side-navbar.closed[b-wyjfhg2fj8] {
    width: 76px;
    transition: 0.5s ease-in-out;
}

.side-navbar.closed[b-wyjfhg2fj8]  .logo-container {
    display: none;
    visibility: hidden;
}

.side-navbar.closed[b-wyjfhg2fj8]  .nav-font {
    opacity: 0;
    display: none;
    transition: 2s ease-in-out;
    white-space: nowrap;
}

.side-navbar.closed[b-wyjfhg2fj8]  span.bi {
    display: flex;
    padding: 2px;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.side-navbar.closed[b-wyjfhg2fj8]  .arrow-icon {
    opacity: 0;
}

/* Search Section */

.side-navbar.closed[b-wyjfhg2fj8]  .search-bar {
    max-height: 50px;
}
.side-navbar.closed[b-wyjfhg2fj8]  input[type=text] {
    display: none;
}
.side-navbar.closed[b-wyjfhg2fj8]  .search-icon {
    position: absolute;
    min-width: 50px;
    transform: scale(0.8);
    left: 15px;
    top: -3px;
}


/* --------------------------- SUB MENU Styles --------------------------- */

.sub-menu.open[b-wyjfhg2fj8] {
    opacity: 1;
    padding-top: 10px;
    max-height: 520px;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}
.sub-menu.closed[b-wyjfhg2fj8] {
    opacity: 0;
    visibility:hidden;
    padding-top: 0px;
    max-height: 0px;
    transform: translateY(20%);
    transition: 0.5s ease-in-out;
}
.sub-menu span[b-wyjfhg2fj8] {
    margin-left: 15px;
}


.account-section[b-wyjfhg2fj8] {
    margin-top: auto;
    padding-top: 3rem;
    padding-bottom: 1.3rem;
}

/* Used on the user's name to limit the displayed length */
.text-overflow[b-wyjfhg2fj8] {
    max-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -1rem;
}


@media (min-width: 641px) {
    .navbar-menu-toggle[b-wyjfhg2fj8] {
        display: visible;
    }

    .nav-scrollable[b-wyjfhg2fj8] {
        /* Never collapse the sidebar for wide screens */
        display: grid;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* styles for old Phones */
@media screen and (min-width: 320px) and (max-width: 399px) { 
    .account-section[b-wyjfhg2fj8] {
        margin-top: auto !important;
        padding-top: 8rem !important;
        padding-bottom: 0rem !important;
    }

}
/* styles for smaller Phones */
@media screen and (min-width: 320px) and (max-width: 765px) {

    .logo[b-wyjfhg2fj8] {
        width: 42vw;
        height: auto;
    }

    .nav-item[b-wyjfhg2fj8] {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .nav-item[b-wyjfhg2fj8]  .nav-link {
        height: 3.2rem;
    }
    
    /* --------------------------- OPEN Side Navbar Styles ---------------------------*/

    .side-navbar.open[b-wyjfhg2fj8] {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        position: absolute;
        left: 200px;
        top: 0px;
        padding-top: 5px;  
        width: 50%;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .nav-font {
        font-size: 16px;
    }

    .side-navbar.open[b-wyjfhg2fj8]  span.bi {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin-left: 0px;
        width: 30px;
        height: 30px;
        /* Stops the icons from shrinking during animations */
        min-height: 30px;
        min-width: 30px;
    }

    /* Search Section */
    .side-navbar.open[b-wyjfhg2fj8]  .search-bar input[type=text] {
        text-indent: 28px;
    }
    .side-navbar.open[b-wyjfhg2fj8]  .search-icon {
        position: absolute;
        min-width: 50px;
        transform: scale(0.8);
        left: 10px;
        top: -3px;
    }

    /* --------------------------- CLOSED Side Navbar Styles --------------------------- */

    .side-navbar.closed[b-wyjfhg2fj8] {
        width: 100vw;
        max-width: 100vw;
        max-height: 50px;
    }

    .side-navbar.closed[b-wyjfhg2fj8]  .logo-container {
        display: block;
        visibility: visible;
        position: absolute;
        left: 200px;
        top: 0px;
        padding-top: 5px;  
        width: 50%;
    }

    /* --------------------------- SUB MENU Styles --------------------------- */

    .sub-menu.open[b-wyjfhg2fj8] {
        opacity: 1;
        padding-top: 10px;
        max-height: 520px;
        transform: translateY(0);
        transition: 0.5s ease-in-out;
    }
    .sub-menu.closed[b-wyjfhg2fj8] {
        opacity: 0;
        visibility:hidden;
        padding-top: 0px;
        max-height: 0px;
        transform: translateY(20%);
        transition: 0.5s ease-in-out;
    }
    .sub-menu span[b-wyjfhg2fj8] {
        margin-left: 15px;
    }

    .account-section[b-wyjfhg2fj8] {
        margin-top: calc(15vh - 50px);
        padding-left: 1.4rem;
        padding-right: 1rem;
        padding-top: 6rem;
        padding-bottom: 0rem;
    }
  
}
/* styles for smaller iPads/Kindle */
@media screen and (min-width: 766px) and (max-width: 838px) { 


    .sign-out-icon[b-wyjfhg2fj8] {
        background-image: url("../images/sign-out.svg");
        background-repeat: no-repeat;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        position: absolute;
        left: 73px;
        top: 0px;
        display: inline-block;
        padding-top: 5px;  
        width:50%;
    }

    .side-navbar.open[b-wyjfhg2fj8]  span.bi {
        padding: 2px;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        /* Stops the icons from shrinking during animations */
        min-height: 30px;
        min-width: 30px;
    }


    .logo[b-wyjfhg2fj8] {
        width: 21vw;
        height: auto;
    }
  
    .account-section[b-wyjfhg2fj8] {
        margin-top: auto;
        padding-top: 3rem;
        padding-bottom: 1.3rem;
        margin-left: 0.1rem;
    }

    .text-overflow[b-wyjfhg2fj8] {
        max-width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: -1rem;
    }
    
}
/* styles for newer iPads */
@media screen and (min-width: 1010px) and (max-width: 1030px) {
    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        position: absolute;
        left: 73px;
        top: 0px;
        display: inline-block;
        padding-top: 5px;  
        width:50%;
    }

    .logo[b-wyjfhg2fj8] {
        width: 12vw;
        height: auto;
    }
}
/* Laptop with MDPI Screen - 720p Screens - 1280x720, plus landscape iPad */
@media screen and (min-width: 1040px) and (max-width: 1366px) {
    .logo[b-wyjfhg2fj8] {
        width: 14vw;
        height: auto;
    }
}
/* Laptop with HiDPI Screen */
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .logo[b-wyjfhg2fj8] {
        width: 12vw;
        height: auto;
    }
}
/* 2K Resolutions - 2560x1440 */
@media screen and (min-width: 1921px) and (max-width: 3839px) {
    .logo[b-wyjfhg2fj8] {
        width: 7vw;
        height: auto;
    }

    .sub-menu.open[b-wyjfhg2fj8] {
        max-height: 720px;
    }

    .account-section[b-wyjfhg2fj8] {
        margin-top: auto;
        padding-bottom: 1.7rem;
    }    
  
}
/* 4K Resolutions - 3840x2160 */
@media screen and (min-width: 3840px) {

    /* Menu Icon */
    .section-menu-icon[b-wyjfhg2fj8] {
        padding-top: 20px;
        width: 50%;
        padding-left: 0.8rem;
    }
    .menu-icon-container[b-wyjfhg2fj8] {
        cursor: pointer;
        width: 62px;
        height: 62px;
    }
    .logo[b-wyjfhg2fj8] {
        width: 8vw;
        height: auto;
    }

    .top-row[b-wyjfhg2fj8] {
        min-height: 100px;
    }

    .nav-item[b-wyjfhg2fj8]  .nav-link {
        height: 4rem;
        padding-left: 0.7rem;
    }

    .icon-size[b-wyjfhg2fj8] {
        transform: scale(1.5);
    }
    .arrow-icon[b-wyjfhg2fj8] {
        top: 22px;
        right: 25px;
        width: 28px;
        height: 28px;
    }
    
    /* --------------------------- OPEN Side Navbar Styles ---------------------------*/

    .side-navbar.open[b-wyjfhg2fj8] {
        width: 420px;
    }

    .side-navbar.open[b-wyjfhg2fj8]  .logo-container {
        left: 100px;
        top: 10px;
        padding-top: 6px;  
    }

    .side-navbar.open[b-wyjfhg2fj8]  .nav-font {
        font-size: 26px;
        padding-left: 1.5rem;
    }

    .side-navbar.open[b-wyjfhg2fj8]  span.bi {
        padding: 2px;
        margin-left: 2px;
        width: 32px;
        height: 32px;
        /* Stops the icons from shrinking during animations */
        min-height: 32px;
        min-width: 32px;
    }

    /* Search Section */
    .side-navbar.open[b-wyjfhg2fj8]  .search-bar input[type=text] {
        max-height: 100px;
        padding-top: 12px;
        padding-bottom: 11px;
        font-size: 26px;
        text-indent: 55px;
    }
    .side-navbar.open[b-wyjfhg2fj8]  .search-icon {
        min-width: 60px;
        transform: scale(1);
        left: 16px;
        top: 7px;
    }

    /* --------------------------- CLOSED Side Navbar Styles --------------------------- */

    .side-navbar.closed[b-wyjfhg2fj8] {
        width: 90px;
        transition: 0.5s ease-in-out;
    }

    .side-navbar.closed[b-wyjfhg2fj8]  span.bi {
        display: flex;
        padding: 2px;
        margin: 2px;
        width: 32px;
        height: 32px;
    }

    /* Search Section */

    .side-navbar.closed[b-wyjfhg2fj8]  .search-bar {
        max-height: 70px;
    }
    .side-navbar.closed[b-wyjfhg2fj8]  .search-icon {
        min-width: 60px;
        transform: scale(1);
        left: 16px;
        top: 7px;
    }

    /* --------------------------- SUB MENU Styles --------------------------- */

    .sub-menu.open[b-wyjfhg2fj8] {
        padding-top: 15px;
        max-height: 1520px;
    }
    .sub-menu span[b-wyjfhg2fj8] {
        margin-left: 20px;
    }

    .account-section[b-wyjfhg2fj8] {
        margin-top: auto;
        padding-bottom: 5rem;
        /* padding-right: 1rem; */
    }

}
