/* _content/projectOne/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-4fh4ctlexs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4fh4ctlexs] {
    flex: 1;
}

.top-row[b-4fh4ctlexs] {
    /* background-color: #f7f7f7; */
    /* border-bottom: 1px solid #d6d5d5; */
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-4fh4ctlexs]  a, .top-row[b-4fh4ctlexs]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-4fh4ctlexs]  a:hover, .top-row[b-4fh4ctlexs]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-4fh4ctlexs]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-4fh4ctlexs] {
        justify-content: space-between;
    }

    .top-row[b-4fh4ctlexs]  a, .top-row[b-4fh4ctlexs]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4fh4ctlexs] {
        flex-direction: row;
    }

    .sidebar[b-4fh4ctlexs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-4fh4ctlexs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-4fh4ctlexs]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-4fh4ctlexs], article[b-4fh4ctlexs] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-4fh4ctlexs] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-4fh4ctlexs] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/projectOne/Components/Layout/NavMenu.razor.rz.scp.css */
.hidden[b-wyjfhg2fj8] {
    display: none;
    appearance: none;
    visibility: hidden;
}

.test[b-wyjfhg2fj8] {
    appearance: none;
    visibility: hidden;
}

.side-navbar[b-wyjfhg2fj8] {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */
    background-color: #141414;
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 300px;
}

.side-navbar-collapsed[b-wyjfhg2fj8] {
    background-color: #141414;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 70px;
}


.logo-container[b-wyjfhg2fj8] {
    position: absolute;
    top: 5px;
    left: 0px;
}

.menu-icon-container[b-wyjfhg2fj8] {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo[b-wyjfhg2fj8] {
    width: 10vw;
    height: auto;
}


.nav-font[b-wyjfhg2fj8] {
    font-size: 16px;
    color: #dfd7d7;
}

.navbar-menu-toggle[b-wyjfhg2fj8] {
    /* appearance: none; */
    cursor: pointer;
    /* width: 3.5rem;
    height: 2.5rem; */
    /* color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0px transparent #fff !important;
    background: url("images/menu_icon.svg") no-repeat center;
    background-repeat: no-repeat; */
}

.navbar-menu-toggle:checked[b-wyjfhg2fj8] {
    background-color: rgba(255, 255, 255, 0.0);
}

.top-row[b-wyjfhg2fj8] {
    min-height: 50px;
    background-color: rgba(0,0,0,0.4);
}

.bi[b-wyjfhg2fj8] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.home-icon[b-wyjfhg2fj8] {
    background-image: url("../images/home.svg");
    transform: scale(1.2);
}
.dugout-icon[b-wyjfhg2fj8] {
    background-image: url("../images/dugout.svg");
    transform: scale(1.2);
}
.tasks-icon[b-wyjfhg2fj8] {
    background-image: url("../images/tasks.svg");
    transform: scale(1.2);
}
.deliverables-icon[b-wyjfhg2fj8] {
    background-image: url("../images/deliverables.svg");
    transform: scale(1.2);
}
.event-icon[b-wyjfhg2fj8] {
    background-image: url("../images/calendar.svg");
    transform: scale(1.2);
}
.venue-icon[b-wyjfhg2fj8] {
    background-image: url("../images/location.svg");
    transform: scale(1.2);
}
.reports-icon[b-wyjfhg2fj8] {
    background-image: url("../images/reports.svg");
    transform: scale(1.2);
}
.time-sheet-icon[b-wyjfhg2fj8] {
    background-image: url("../images/calendar.svg");
    transform: scale(1.2);
}
.admin-icon[b-wyjfhg2fj8] {
    background-image: url("../images/admin.svg");
    transform: scale(1.2);
}

.arrow-icon[b-wyjfhg2fj8] {
    position: absolute;
    top: 9px;
    right: 21px;
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/down.svg");
}
.arrow-down[b-wyjfhg2fj8] {
    transform: rotate(0deg);
}
.arrow-up[b-wyjfhg2fj8] {
    transform: rotate(180deg);
}

.nav-item[b-wyjfhg2fj8] {
    position: relative;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

.nav-item:first-of-type[b-wyjfhg2fj8] {
    padding-top: 0.3rem;
}

.nav-item:last-of-type[b-wyjfhg2fj8] {
    padding-bottom: 0.3rem;
}

.nav-item[b-wyjfhg2fj8]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2.3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-wyjfhg2fj8]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-wyjfhg2fj8]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-wyjfhg2fj8] {
    display: none;
}

.navbar-menu-toggle:checked ~ .nav-scrollable[b-wyjfhg2fj8] {
    display: block;
}

/* Search Bar CSS */
.nav-search-section[b-wyjfhg2fj8] {
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
}
.search-container[b-wyjfhg2fj8] {
  position: relative;
}
.search-button:hover .search-icon[b-wyjfhg2fj8] {
  cursor: pointer;
  filter: brightness(300%);
  transition: ease-in-out 0.2s;
}
.search-bar[b-wyjfhg2fj8] {
  width: 100%;
  display: inline-block;
  justify-content: center;
}
.search-bar input[type=text][b-wyjfhg2fj8] {
  width: 100%;
  max-height: 50px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(183, 183, 183, 0.498);
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(183, 183, 183);
}
.search-bar input:focus[b-wyjfhg2fj8] {
  outline: none;
}
.search-icon[b-wyjfhg2fj8] {
    position: absolute;
    min-width: 50px;
    transform: scale(0.8);
    right: 0px;
    top: 0px;

}

.search-bar-collapsed input[type=text][b-wyjfhg2fj8] {
    display: none;
  width: 0%;
  max-height: 50px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px transparent rgba(183, 183, 183, 0) !important;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: rgba(183, 183, 183, 0);
}

.scale-1[b-wyjfhg2fj8] {
    height: 60px;
    padding: 15px;
}


.account-section[b-wyjfhg2fj8] {
    margin-top: auto;
    padding: 0rem 1rem 2rem 0.5rem;
}

/* Used on the user's name to limit the displayed length */
.text-overflow[b-wyjfhg2fj8] {
    max-width: 8.4vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




@media (min-width: 641px) {
    .navbar-menu-toggle[b-wyjfhg2fj8] {
        display: visible;
    }

    .nav-scrollable[b-wyjfhg2fj8] {
        /* Never collapse the sidebar for wide screens */
        display: grid;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
