.month {
  padding: 20px 25px;
  width: 100%;
  background: var(--dark-first-color);
  text-align: center;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Month list */
.month div {
  margin: 0px;
  padding: 0px; 
  position: relative;
}

.month div span {
  color: var(--font-color-dark);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calendar-arrow-icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/down.svg");
}

.calendar-arrow-icon.arrow-left {
  position: absolute;
  top: 5px;
  left: 0px;
}
.calendar-arrow-icon.arrow-right {
  position: absolute;
  top: 5px;
  right: 0px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  /* Layout Styles */
  margin: 0px;
  padding: 10px 5px;
  background-color:var(--dark-second-color);
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 25px;
  column-gap: 5px;
  row-gap: 10px;
}

.weekdays li {
  /* Font Styles */
  color: var(--font-color-dark);
  text-align: center;
  font-weight: 500;
  list-style-type: none;  
  /* Grid Styles */
  grid-column-end:span 1;
}

/* Days (1-31) */
.days {
  /* Layout Styles */
  padding: 0.4rem 0.1rem;
  background: var(--dark-first-color);
  margin: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 10px;
  column-gap: 0.2rem;
  row-gap: 0.1rem;
}

.days li.day {
  /* Text Styles */
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  color: var(--font-color-dark);
  /* Grid Styles */
  grid-column-end: span 1;
  min-height: 42px;
  /* Position Styles */
  position: relative;
  z-index: auto;
  align-items: center;
  align-content: center;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
}
.day-container {
  align-items: center;
  align-content: center;
}
.date {
  position: relative;
  z-index: 1;
}

/* Highlight the "current" day */
.days li.day .active {
  /* Text Styles */
  color: white !important;  
}

.active::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 38px;
  width: 38px;
  z-index: -1;
  border-radius: 50%;
  background: var(--active-color-dark);
  transform: translate(-51%, -50%);
}

/* Show which days are outside the current month */
.days .outsideMonth {
  color: rgb(129, 129, 129);
}

.selected-date {
  background-color: var(--selected-date-color-dark) !important;
  border-radius: 8px;
}

.weekend {
  color: rgb(69, 160, 160) !important;
}


/* ----------------- CALENDAR COMPACT SECTION ----------------- */

.calendar-compact-display .calendar-month-layout {
  position: relative;
}

/* -- Event Styling -- */
.event-tooltip {
  visibility: hidden;
  padding: 0.1rem 0.25rem 0.25rem 0.25rem;
  background-color: black;
  border-radius: 10px;
  width: 120px;
  margin-left: -60px;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 50%;
  transition-property: visibility;
  transition-delay: 0s;
}

li.day:hover .event-tooltip {
  visibility: visible;
  transition-delay: 0s;
}

.event-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  z-index: 10;
}

.event-tooltip .tooltip-text {
  /* Text Styles */
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
}

.event-marker {
  position: absolute;
  width: 100%;
  left: 51.5%;
  bottom: 0px;
  -webkit-transform: translateX(-51.5%);
  transform: translateX(-51.5%);
  z-index: 2;
}
.event-marker .dot {
  font-size: 8px;
  /* Base color for the event markers if you don't want the colors */
  /* color: rgb(69, 160, 160); */
}

.event-marker .event-overflow {
  font-size: 14px;
  color: rgb(69, 160, 160);
}

/* Different Event Types */

.venue-event {
  color: #ef6be6 !important;
}
.birthday-event {
  color: #15d58f !important;;
}
.company-event {
  color: #f44336 !important;;
}
.holiday-event {
  color: #008CBA !important;;
}
.important-event {
  color: #fbe161 !important;;  
}


@media screen and (min-width: 320px) and (max-width: 399px) {
  
  .calendar-arrow-icon {
    width: 18px;
    height: 18px;
  }

  .calendar-arrow-icon.arrow-left {
    top: 5px;
  }
  .calendar-arrow-icon.arrow-right {
    top: 5px;
  }
  
}
/* styles for smaller Phones */
@media screen and (min-width: 320px) and (max-width: 765px) {

  .calendar-arrow-icon {
    width: 20px;
    height: 20px;
  }

  .calendar-arrow-icon.arrow-left {
    top: 5px;
    left: -14px;
  }
  .calendar-arrow-icon.arrow-right {
    top: 5px;
    right: -14px;
  }

  .active::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 32px;
    width: 32px;
    z-index: -1;
    border-radius: 50%;
    background: var(--active-color-dark);
    transform: translate(-51%, -50%);
  }

  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-marker .dot {
    font-size: 7px;
  }
  .event-marker .event-overflow {
    font-size: 11px;
  }
  
  
}
/* styles for smaller iPads/Kindle */
@media screen and (min-width: 766px) and (max-width: 838px) { 

}
/* styles for newer iPads */
@media screen and (min-width: 1010px) and (max-width: 1030px) {
 
}
/* Laptop with MDPI Screen - 720p Screens - 1280x720, plus landscape iPad */
@media screen and (min-width: 1040px) and (max-width: 1366px) {
  .month div span {
    font-size: 20px;
  }

  .calendar-arrow-icon {
    width: 20px;
    height: 20px;
  }

  .calendar-arrow-icon.arrow-left {
    top: 5px;
  }
  .calendar-arrow-icon.arrow-right {
    top: 5px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    /* Layout Styles */
    font-size: 16px;
  }

  /* Days (1-31) */
  .days {
    /* Layout Styles */
    padding: 0.4rem 0.2rem;
    /* Grid Styles */
    -moz-column-gap: 10px;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
  }

  .days li.day {
    /* Text Styles */
    font-size: 14px;
    /* Grid Styles */
    min-height: 36px;
  }

  .active::after {
    height: 30px;
    width: 30px;
  }

  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-tooltip .tooltip-text {
    font-size: 12px;
  }
  .event-marker .dot {
    font-size: 8px;
  }
  .event-marker .event-overflow {
    font-size: 14px;
  }
}
/* Laptop with HiDPI Screen */
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    
}
/* 2K Resolutions - 2560x1440 */
@media screen and (min-width: 1921px) and (max-width: 3839px) {

  .month div span {
    font-size: 32px;
  }

  .calendar-arrow-icon {
    width: 28px;
    height: 28px;
  }

  .calendar-arrow-icon.arrow-left {
    top: 10px;
  }
  .calendar-arrow-icon.arrow-right {
    top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    /* Layout Styles */
    font-size: 24px;
  }

  /* Days (1-31) */
  .days {
    /* Layout Styles */
    padding: 0.4rem 0.2rem;
    /* Grid Styles */
    -moz-column-gap: 10px;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
  }

  .days li.day {
    /* Text Styles */
    font-size: 20px;
    /* Grid Styles */
    min-height: 65px;
  }

  .active::after {
    height: 55px;
    width: 55px;
  }

  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-tooltip .tooltip-text {
    font-size: 18px;
  }
  .event-marker .dot {
    font-size: 12px;
  }
  .event-marker .event-overflow {
    font-size: 20px;
  }
  
}
/* 4K Resolutions - 3840x2160 */
@media screen and (min-width: 3840px) {

  .month {
    padding: 20px 25px;
    width: 100%;
  }

  .month div span {
    font-size: 42px;
  }

  .calendar-arrow-icon {
    width: 40px;
    height: 40px;
  }

  .calendar-arrow-icon.arrow-left {
    top: 10px;
  }
  .calendar-arrow-icon.arrow-right {
    top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    /* Layout Styles */
    font-size: 30px;
  }

  /* Days (1-31) */
  .days {
    /* Layout Styles */
    padding: 0.4rem 0.2rem;
    /* Grid Styles */
    -moz-column-gap: 10px;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
  }

  .days li.day {
    /* Text Styles */
    font-size: 34px;
    /* Grid Styles */
    min-height: 115px;
  }

  .active::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 82px;
    width: 82px;
    z-index: -1;
    border-radius: 50%;
    background: var(--active-color-dark);
    transform: translate(-51%, -50%);
  }


  /* ----------------- CALENDAR COMPACT SECTION ----------------- */

  .event-tooltip .tooltip-text {
    font-size: 22px;
  }

  .event-marker .dot {
    font-size: 16px;
  }

  .event-marker .event-overflow {
    font-size: 24px;
  }
}