.calendar-month-layout {
  /* overflow: hidden; */
  width: 100%;
  position: relative;
}

.month {
  padding: 20px 25px;
  width: 100%;
  background: var(--dark-first-color);
  text-align: center;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Month list */
.month div {
  margin: 0px;
  padding: 0px; 
  position: relative;
}

.month div span {
  color: var(--font-color-dark);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calendar-arrow-icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/down.svg");
}

.calendar-arrow-icon.arrow-left {
  position: absolute;
  top: 5px;
  left: 0px;
}
.calendar-arrow-icon.arrow-right {
  position: absolute;
  top: 5px;
  right: 0px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  /* Layout Styles */
  margin: 0px;
  padding: 10px 5px;
  background-color:var(--dark-second-color);
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 25px;
  column-gap: 5px;
  row-gap: 10px;
}

.weekdays li {
  /* Font Styles */
  color: var(--font-color-dark);
  text-align: center;
  font-weight: 500;
  list-style-type: none;  
  /* Grid Styles */
  grid-column-end:span 1;
}

/* Days (1-31) */
.days {
  /* Layout Styles */
  padding: 10px 5px;
  background: var(--dark-first-color);
  margin: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -moz-column-gap: 25px;
  column-gap: 5px;
  row-gap: 10px;
}

.days li.day {
  /* Text Styles */
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  color: var(--font-color-dark);
  /* Grid Styles */
  grid-column-end: span 1;
  min-height: 44px;
  /* Position Styles */
  position: relative;
  z-index: auto;
  align-items: center;
  align-content: center;
  display: inline-block;
  cursor: pointer;

  overflow: visible;
}
.day-container {
  /* position: relative; */
  align-items: center;
  align-content: center;
}

/* Highlight the "current" day */
.days li.day .active {
  /* Text Styles */
  color: white !important;  
}

.active::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 38px;
  width: 38px;
  z-index: -1;
  border-radius: 50%;
  background: var(--active-color-dark);
  transform: translate(-51%, -50%);
}

/* Show which days are outside the current month */
.days .outsideMonth {
  color: rgb(129, 129, 129);
}

.selected-date {
  background-color: var(--selected-date-color-dark) !important;
  border-radius: 8px;
}

.weekend {
  color: rgb(69, 160, 160) !important;
}

/* -- Event Styling -- */
.event-tooltip {
  visibility: hidden;
  padding: 0.1rem 0.25rem 0.25rem 0.25rem;
  background-color: black;
  border-radius: 10px;
  width: 120px;
  margin-left: -60px;
  /* Position the tooltip */
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 50%;
  transition-property: visibility;
  transition-delay: 0s;
}

li.day:hover .event-tooltip {
  visibility: visible;
  transition-delay: 0.3s;
}

.event-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  z-index: 10;
}

.event-tooltip .tooltip-text {
  /* Text Styles */
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
}

.event-marker {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 8px;
  color: rgb(129, 129, 129);
}
