.hidden {
    display: none;
}

.side-navbar {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */
    background-color: #141414;
    position: fixed;
    top: 0px;
    left: 0px;
}


.logo-container {
    position: absolute;
    top: 5px;
    left: 0px;
}

.menu-icon-container {
    position: absolute;
    top: 10px;
    left: -10px;
}

.logo {
    width: 10vw;
    height: auto;
}



.nav-font {
    font-size: 16px;
    color: #dfd7d7;
}

.navbar-menu-toggle {
    /* appearance: none; */
    cursor: pointer;
    /* width: 3.5rem;
    height: 2.5rem; */
    /* color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0px transparent #fff !important;
    background: url("images/menu_icon.svg") no-repeat center;
    background-repeat: no-repeat; */
}

.navbar-menu-toggle:checked {
    background-color: rgba(255, 255, 255, 0.0);
}

.top-row {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.home-icon {
    background-image: url("../images/home.svg");
}
.dugout-icon {
    background-image: url("../images/dugout.svg");
}
.tasks-icon {
    background-image: url("../images/tasks.svg");
}
.deliverables-icon {
    background-image: url("../images/deliverables.svg");
}
.event-icon {
    background-image: url("../images/calendar.svg");
}
.venue-icon {
    background-image: url("../images/location.svg");
}
.reports-icon {
    background-image: url("../images/reports.svg");
}
.time-sheet-icon {
    background-image: url("../images/calendar.svg");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

.nav-item:first-of-type {
    padding-top: 0.3rem;
}

.nav-item:last-of-type {
    padding-bottom: 0.3rem;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2.3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-menu-toggle:checked ~ .nav-scrollable {
    display: block;
}

/* Search Bar CSS */
.nav-search-section {
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
}
.search-container {
  position: relative;
}
.search-button:hover .search-icon {
  cursor: pointer;
  filter: brightness(300%);
  transition: ease-in-out 0.2s;
}
.search-bar {
  width: 100%;
  display: inline-block;
  justify-content: center;
}
.search-bar input[type=text] {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(183, 183, 183, 0.498);
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.search-bar input:focus {
  outline: none;
}
.search-icon {
  position: absolute;
  min-width: 50px;
  transform: scale(0.8);
  right: 0px;
  top: 0px;
}





.account-section {
    margin-top: auto;
    padding: 0rem 1rem 2rem 0.5rem;
}

/* Used on the user's name to limit the displayed length */
.text-overflow {
    max-width: 8.4vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




@media (min-width: 641px) {
    .navbar-menu-toggle {
        display: visible;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: grid;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        max-width: 300px;
        overflow-y: auto;
    }
}
