.hidden {
    display: none;
    appearance: none;
    visibility: hidden;
}

/* General Navbar Styles */

.side-navbar {
    background-color: #141414;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    z-index: 100;
}


.menu-icon-container {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 9vw;
    height: auto;
}

.top-row {
    min-height: 50px;
    background-color: rgba(0,0,0,0.4);
}

.nav-item {
    position: relative;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2.3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    padding-left: 0.1rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.home-icon {
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
}
.dugout-icon {
    background-image: url("../images/dugout.svg");
    background-repeat: no-repeat;
}
.tasks-icon {
    background-image: url("../images/tasks.svg");
    background-repeat: no-repeat;
}
.deliverables-icon {
    background-image: url("../images/deliverables.svg");
    background-repeat: no-repeat;
}
.event-icon {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
}
.venue-icon {
    background-image: url("../images/location.svg");
    background-repeat: no-repeat;
}
.reports-icon {
    background-image: url("../images/reports.svg");
    background-repeat: no-repeat;
}
.time-sheet-icon {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
}
.admin-icon {
    background-image: url("../images/admin.svg");
    background-repeat: no-repeat;
}
.sign-out-icon {
    background-image: url("../images/sign-out.svg");
    background-repeat: no-repeat;
}
.icon-size {
    transform: scale(1);
}

.arrow-icon {
    position: absolute;
    top: 9px;
    right: 21px;
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/down.svg");
}
.arrow-down {
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}
.arrow-up {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}


/* --------------------------- OPEN Side Navbar Styles ---------------------------*/

.side-navbar.open {
    width: 265px;
    /* min-width: 265px; */
    transition: 0.2s ease-in-out;
}

.side-navbar ::deep .logo-container {
    position: absolute;
    top: 5px;
    left: 0px;
}

.side-navbar ::deep .nav-font {
    font-size: 16px;
    color: #dfd7d7;
    padding-left: 0.4rem;
}

.side-navbar ::deep span.bi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;
    width: 30px;
    height: 30px;
}

/* --------------------------- CLOSED Side Navbar Styles --------------------------- */

.side-navbar.closed {
    width: 76px;
    transition: 0.2s ease-in-out;
}

.side-navbar.closed ::deep .logo-container {
    display: none;
    visibility: hidden;
}

.side-navbar.closed ::deep .nav-font {
    display: none;
    visibility: hidden;
}

.side-navbar.closed ::deep span.bi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 5px;
    width: 30px;
    height: 30px;
}

/* --------------------------- SUB MENU Styles --------------------------- */

.sub-menu.open {
    opacity: 1;
    padding-top: 10px;
    max-height: 520px;
    transform: translateY(0);
    transition: 0.4s ease-in-out;
}
.sub-menu.closed {
    opacity: 0;
    visibility:hidden;
    padding-top: 0px;
    max-height: 0px;
    transform: translateY(20%);
    transition: 0.4s ease-in-out;
}
.sub-menu span {
    margin-left: 15px;
}





.nav-scrollable {
    display: none;
}

.navbar-menu-toggle:checked ~ .nav-scrollable {
    display: block;
}

/* .navbar-menu-toggle:checked {
    background-color: rgba(255, 255, 255, 0.0);
} */

/* Search Bar CSS */
.nav-search-section {
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
}
.search-container {
  position: relative;

}
.search-button:hover .search-icon {
  cursor: pointer;
  filter: brightness(300%);
  transition: ease-in-out 0.2s;
}
.search-bar {
  width: 100%;
  display: inline-block;
  justify-content: center;
}
.search-bar input[type=text] {
  width: 100%;
  max-height: 50px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(183, 183, 183, 0.498);
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(183, 183, 183);
}
.search-bar input:focus {
  outline: none;
}
.search-icon {
    position: absolute;
    min-width: 50px;
    transform: scale(0.8);
    right: 0px;
    top: 0px;
}

.search-bar-collapsed input[type=text] {
    display: none;
}

.scale-1 {
    height: 60px;
    padding: 15px;
}

.account-section {
    margin-top: auto;
    padding-top: 3rem;
}

/* Used on the user's name to limit the displayed length */
.text-overflow {
    max-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -1rem;
}




@media (min-width: 641px) {
    .navbar-menu-toggle {
        display: visible;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: grid;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* styles for old Phones */
@media screen and (min-width: 320px) and (max-width: 399px) {
  
  
}
/* styles for smaller Phones */
@media screen and (min-width: 320px) and (max-width: 765px) {
  
    .side-navbar {
        background-color: #141414;
        position: relative;
        width: 100vw;
        max-width: 100vw;
    }

    .side-navbar-collapsed {
        background-color: #141414;
        position: relative;
        width: 100vw;
        max-width: 100vw;
    }

    .logo {
        width: 42vw;
        height: auto;
    }

    .mobile-viewable {
        display: block !important;
        visibility: visible !important;
        appearance:inherit;
    }
  
  
}
/* styles for smaller iPads/Kindle */
@media screen and (min-width: 766px) and (max-width: 838px) { 
  
    .account-section {
        margin-top: auto;
        padding-top: 3rem;
        padding-bottom: 1.3rem;
        margin-left: 1rem;
    }

    .text-overflow {
        max-width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: -1rem;
    }
}
/* styles for newer iPads */
@media screen and (min-width: 1010px) and (max-width: 1030px) { }
/* Laptop with MDPI Screen - 720p Screens - 1280x720, plus landscape iPad */
@media screen and (min-width: 1040px) and (max-width: 1366px) { }
/* 2K Resolutions - 2560x1440 */
@media screen and (min-width: 1921px) and (max-width: 3839px) {
    .logo {
        width: 7vw;
        height: auto;
    }

    .sub-menu {
        height: 90px;
        display: block;
        font-size: 12px;
    }

    .account-section {
        margin-top: auto;
        padding-bottom: 2.5rem;
    }    
  
}
/* 4K Resolutions - 3840x2160 */
@media screen and (min-width: 3840px) {
    .side-navbar {
        width: 420px;
        max-width: 600px;
    }
    .side-navbar-collapsed {
        width: 90px;
    }

    .logo-container {
        position: absolute;
        top: 5px;
        left: 0px;
    }

    .menu-icon-container {
        position: absolute;
        top: 30px;
        left: 30%;
        transform: translate(-50%, -50%);
        transform: scale(1.7);
    }

    .logo {
        width: 8vw;
        height: auto;
    }

    .nav-font {
        font-size: 26px;
        padding-left: 1.5rem;
    }

    .top-row {
        min-height: 100px;
        background-color: rgba(0,0,0,0.4);
    }

    span.bi {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin: 2px;
        width: 30px;
        height: 30px;
    }

    .icon-size {
        transform: scale(1.5);
    }

    .nav-item {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        /* height: 80px; */
    }
    .nav-item:first-of-type {
        padding-top: 0.5rem;
    }
    .nav-item:last-of-type {
        padding-bottom: 0.5rem;
    }
    .nav-item ::deep .nav-link {
        height: 4rem;
        padding-left: 0.7rem;
    }

    .sub-menu {
        height: 150px;
        display: block;
    }

    /* Search Bar CSS */
    .search-bar input[type=text] {
        width: 100%;
        max-height: 90px;
        background-color: rgba(0, 0, 0, 0.0);
        border: 1px solid rgba(183, 183, 183, 0.498);
        border-radius: 6px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 26px;
        color: rgb(183, 183, 183);
    }
    .search-icon {
        position: absolute;
        min-width: 60px;
        transform: scale(1);
        right: 5px;
        top: 2px;
    }

    .account-section {
        margin-top: auto;
        padding-bottom: 5rem;
        /* padding-right: 1rem; */
    }
    .scale-1 {
        height: 85px;
    }

    .arrow-icon {
        position: absolute;
        top: 22px;
        right: 25px;
        width: 28px;
        height: 28px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../images/down.svg");
    }

}

